<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<% @messages.each do |message| %>
    <p>
        <%= link_to message.content, message %>
    </p>
<% end %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
