<!DOCTYPE html>
<html>
  <head>
    <title>Ukazka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
          <div>
              <ul>
                  <li>
                      <%= link_to "Main", pages_main_path  %>
                  </li>
                <li>
                    <%= link_to "About", pages_about_url %>
                </li>
          </div>
      </nav>
      <% if notice %>
      	  <%= notice %>
	    <% end %>

	    <% if alert %>
      	  <%= alert %>
	    <% end %>
      <div>
          <% if current_user %>
          Hello <%= current_user.name %>
          <% else %>
              <%= link_to "Login", login_path %>
          <% end %>
      </div>
      <%= yield %>
  </body>
</html>
